<!-- Main div that contains the listing, the facets, the search field.
	the pagination and the informative messages. -->
<div id="main_content" class="col-xs-12 col-sm-12 col-md-12">
	<form class="form-wrapper cf" ng-submit="submit('search')">
	    <input ng-model="search_query" name="search_query" type="text" placeholder="Search here..." >
	    <button type="submit">Search</button>
	</form>

	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Training Course </h3>
		<a href="#/search/?q=*&contexts=professional development" class="link col-xs-6 col-sm-4 col-md-4 analysis"> Risk Analysis </a>
		<a href="#/search/?q=*&contexts=vocational education" class="link col-xs-6 col-sm-4 col-md-4 microbiology"> Microbiology Lab Courses </a>
		<a href="#/search/?q=*&contexts=continuing education"  class="link col-xs-6 col-sm-4 col-md-4 chemistry"> Chemistry Lab Courses </a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Featured Themes </h3>
		<a href="#/search/?q=pesticide" class="link col-xs-6 col-sm-4 col-md-4 pesticide_analysis">Pesticide Residue Analysis </a>
		<a href="#/search/?q=salmonella" class="link col-xs-6 col-sm-4 col-md-4 salmonela"> Salmonella </a>
		<a href="#/search/?q=*&contexts=special education" class="link col-xs-6 col-sm-4 col-md-4 webinar"> Food and Nutrition Webinars </a>
	</div>

</div>
