<!-- Main div that contains the listing, the facets, the search field.
	the pagination and the informative messages. -->
<div id="main_content" class="col-xs-12 col-sm-12 col-md-12">
	<form class="form-wrapper cf" action="#/search/">
	    <input name="q" type="text" placeholder="Search here..." required>
	    <button type="submit">Search</button>
	</form>

	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Training Course </h3>
		<a href="#/search" class="link col-xs-6 col-sm-4 col-md-4 analysis"> Risk Analysis </a>
		<a href="#/search" class="link col-xs-6 col-sm-4 col-md-4 microbiology"> Microbiology Lab Courses </a>
		<a href="#/search"  class="link col-xs-6 col-sm-4 col-md-4 chemistry"> Chemistry Lab Courses </a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Featured Themes </h3>
		<a href="#/search/?q=food protection&set=optunesco,aglrfaocapacityportal,oeorganiceprints" class="link col-xs-6 col-sm-4 col-md-4 pesticide_analysis">Pesticide Residue Analysis </a>
		<a href="#/search/?q=risk analysis&set=aglrfaocdx,optunesco,faocapacityportal,oeorganiceprints,oeintute" class="link col-xs-6 col-sm-4 col-md-4 salmonela"> Salmonela </a>
		<a href="#/search/?q=haccp&set=aglrfoodsafety,faocapacityportal,aglrfaocdx,oeorganiceprints,oeintute" class="link col-xs-6 col-sm-4 col-md-4 webinar"> Food and Nutrition Webinars </a>
	</div>

</div>
